<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backgroundTopColor</key>
	<string>7F7E8A</string>
	<key>backgroundBottomColor</key>
	<string>565363</string>
	<key>textColor</key>
	<string>FFFFFF</string>
	<key>contactImageBorderColor</key>
	<string>FFFFFF</string>
	<key>tableViewSeparatorColor</key>
	<string>FFFFFF</string>
	<key>navigationBarBackgroundColor</key>
	<string>FFFFFF</string>
	<key>actionButtonLeftColor</key>
	<string>00C6FF</string>
	<key>actionButtonRightColor</key>
	<string>0072FF</string>
</dict>
</plist>
